html,body{
  margin:0;
  padding:0;
}
body{
background: #CDF0EA;
}
section{
height: 100vh;
  scroll-snap-align: start;
}
.container{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.upper-container{
  background: url("images/valo.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  overflow: scroll;
}
.uro32{
  display: grid;
  grid-template-rows: repeat(16,1fr);
  grid-row-gap: 5px;
}
.ur1, .ur2, .ur3, .ur4, .ur5{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color:#711A75;
  display: flex;
background-color: #DFF6FF;
opacity:0.2;
text-align: center;
justify-content: center;
align-items: center;
}

.uro16, .lro16{

  display: grid;
  grid-template-rows: repeat(8,1fr);
  grid-row-gap: 5px;
}

.uro8, .lro8{

  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-row-gap: 5px;
}
.usemis, .lsemis{

  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-row-gap: 5px;
}

.ufinal, .lfinal{

display: grid;
grid-template-rows: repeat(1,1fr);
grid-template-columns: repeat(2,1fr);
grid-row-gap: 5px;

}
.lower-container{

    background: url("images/valocover.jpg");
    background-size: cover;
overflow: scroll;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}
.lr1, .lr2, .lr3, .lr4{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color:#711A75;
  display: flex;
background-color: #DFF6FF;
opacity:0.2;

text-align: center;
justify-content: center;
align-items: center;
}
