body {
  background: #3B7577;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
*:focus {
  outline-color: #00BF8F;
}

/* SECTION WRAPPER */
.wrapper {
  width: 85%;
  margin: 0 auto;
}

/* TYPOGRAPHY */
h1 {
  /* margin-bottom: 10px; */
  font-family: 'Oswald';
  font-size: 5rem;
  color: white;
  text-align: center;
}
h2 {
  color: white;
  font-size: 2rem;
}
form p {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  margin: 50px 0 20px;
  line-height: 1.6;
}
form p,
label[for="single"] {
  padding-bottom: 6px;
}

/* HEADER */
header {
  position: relative;
  padding: 7.5rem;
  color: #fff;
  background: url("images/elderflame-min.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
}

/* SECTION */
section {
  background: #ffffff;
  padding: 20px 0;
}

/* FORM STYLES */
.input-wrap {
  margin-bottom: 10px;
}
select {
  display: block;
  margin-bottom: 50px;
}
label[for="single"]{
  display: block;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  line-height: 1.6;
}
input[type="text"],
textarea {
  width: 80%;
  padding: 6px;
  font-size: 16px;
  border: 1px solid #00BF8F;
  background: #DAEAE6;
  margin-bottom: 50px;
}
input[type="text"]{
  width: 50%;
}
.input-wrap.select-box {
  border: 1px solid #00BF8F;
  background: #DAEAE6;
  width: 50%;
  height: 34px;
  padding: 0px 10px;
  margin-bottom: 50px;
}
.input-wrap.select-box:hover {
  background: #00BF8F;
}

.input-wrap.select-box:hover select {
   color: #fff;
}

textarea {
  min-height: 100px;
}
select {
  border: none;
  background: transparent;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;
  height: 34px;
  width: 100%;
}
select:hover {
  cursor: pointer;
}
input[type="submit"] {
  display: block;
  margin: 20px auto 50px;
  height: 34px;
  width: 125px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;
  background: #008463;
  border: 0px solid;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
input[type="submit"]:hover {
  background: #00BF8F;
  cursor: pointer;
}

.team{
  border-bottom: 2px solid #937DC2;
  margin-bottom: 10px;
  background: url("images/valocover.jpg");
  background-size: cover;
  color: #00BF8F;
}

.p1{
  border-bottom: 2px solid #937DC2;
  margin-bottom: 10px;
  background: url("images/sova.jpg") no-repeat;
  background-size: 100% 100%;
  color: #00BF8F;
}

.p2{
  margin-bottom: 10px;
  border-bottom: 2px solid #937DC2;
  background: url("images/jett.jpg") no-repeat;
  background-size: 100% 100%;
  color: #00BF8F;
}

.p3{
  border-bottom: 2px solid #937DC2;
  margin-bottom: 10px;
  background: url("images/kj.jpg") no-repeat;
  background-size: 100% 100%;
  color: #00BF8F;
}

.p4{
  border-bottom: 2px solid #937DC2;
  margin-bottom: 10px;
  background: url("images/phnx.jpg") no-repeat;
  background-size: 100% 100%;
color: #00BF8F;
}

.p5{
  border-bottom: 2px solid #937DC2;
  margin-bottom: 10px;
  background: url("images/skye.jpg") no-repeat;
background-size: 100% 100%;
color: #00BF8F;
}
.drops{
  border-bottom: 2px solid #937DC2;
  color: #00BF8F;
}
