html,body{
  margin: 0;
  padding: 0;
  height:100%;
  background: url("images/valo.jpg");
}

body{
  font-family: 'Helvetica', sans-serif;
  color: white;
}
.header{
  padding:5rem;
  background: url("images/yoru_ult.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  font-family: 'Oswald';
  /* font-weight: bold; */
  font-size: xx-large;
  color: #ffffff;
  text-align: center;
}
.head{
  color: #F24C4C;
  font-size: 2rem;
}
h1{
  /* color: #F24C4C; */
  padding: 5px;
  font-size: 50px;
}
.loader{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader>img{
  width:250px;
}
.loader.hidden{
  animation: fadeOut 5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
.reg, .time, .rule, .fix {

  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reg{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("images/valo.jpg");
  cursor: url("images/classic.png"), crosshair;
}
.time{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("images/valo.jpg");
  cursor: url("images/frenzy.png"), crosshair;
}
.rule{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("images/valo.jpg");
  cursor: url("images/ghost.png"), crosshair;
}
.fix{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("images/valo.jpg");
  cursor: url("images/sherrif.png"), crosshair;
}
.register{
  order:2;
  background-size:cover;
  text-align: center;
  background: url("images/jett_main.jpg") no-repeat;
  color: black;
}
.rules{
  order:1;
  background: url("images/cypher.jpeg");
  background-size: cover;
  text-align: center;
}
.timeline{
  background: url("images/neon.jpeg");
  background-size:cover;
  order: 3;
  text-align: center;
}
.fixtures{
  background: url("images/sage.jpeg");
  background-size:cover;
  order: 3;
  text-align: center;


}
.regarea{
  position: relative;
  background: url("images/jett_main.jpg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  width: 40%;
  height: 40vh;
  margin-right: 20px;
}
.fixarea{
  background: url("images/sage.jpeg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  text-align: center;
  width: 40%;
  height: 40vh;
  margin-left: 20px;
}
.rulesarea{
  position: relative;
  background: url("images/cypher.jpeg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  width: 40%;
  height: 40vh;
  margin-right: 20px;
}
.timearea{
  position: relative;
  background: url("images/neon.jpeg") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  width: 40%;
  height: 40vh;
  margin-left: 20px;
}
.register:hover{
  width: 100%;
  height: 100%;
  background-size: cover;
  color: #FF5D5D;
  text-align: center;
  font-weight: 80;
}
.rules:hover{
  width: 100%;
  height: 100%;
  background-size: cover;
  color: #FF5D5D;
  font-weight: 80;
}
.timeline:hover{
  width:100%;
  height: 100%;
  background-size: cover;
  color: #FF5D5D;
  font-weight: 80;
}
.fixtures:hover{
  width:100%;
  height: 100%;
  background-size: cover;
  color: #FF5D5D;
  text-align: center;
  font-weight: 80;

}
.reglink, .timelink, .rulelink, .fixlink{
  position: absolute;
  bottom: 5%;
	left: 40%;
}
.text{
     text-align: center;
     
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .header{
    padding:5rem;
	  height: 30vh;

  }
  .reg, .fix, .time, .rule{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .regarea, .rulesarea, .timearea, .fixarea{
    height: 100vh;
    width: 100%;

  }
  .register:hover{
    height:60%;
  }

  .fixtures:hover{
    height:60%;
}
.timeline:hover{
  height:60%;
}
.rules:hover{
  height:60%;
}

 }
